
#chartContainer {
  width: 80%; /* Ajustar el ancho según sea necesario */
  height: 400px; /* Ajustar la altura según sea necesario */
  margin: 20px auto; /* Centrar el contenedor horizontalmente */
}

/* Otras reglas de estilo sin cambios */
body {
  color: #1e90ff;
  padding: 40px;
  background-color: greenyellow;
  display: flex;
  justify-content: flex-end;
}

.container {
  max-width: 400px;
  border: black solid;
  margin: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

button {
  border: none;
  border-bottom: 2px;
  background-color: #1e90ff;
  justify-content: left;
  padding: auto;
}

.animation-container {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

img {
  justify-content: center;
  display: block;
  margin: 20px auto;
  max-width: 300px;
  padding: 10px;
}
